<footer class="text-center bg-dark text-white p-3">
    <p>&copy; 2024 AIC Propiedades. Todos los derechos reservados.</p>
    <div class="social-icons">
        <a href="https://facebook.com/aicpropiedades" target="_blank">Facebook</a>
        <a href="https://instagram.com/aicpropiedades" target="_blank">Instagram</a>
        <a href="https://linkedin.com/company/aicpropiedades" target="_blank">LinkedIn</a>
    </div>
</footer>
