<header>
    <div class="logo-container">
        <a href="inicio.html">
            <img src="imagenes/logoAICPropiedades.jpeg" alt="Logo de AIC Propiedades" class="logo">
        </a>
        <span class="nombre-empresa">AIC Propiedades</span>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#inicio">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="#nosotros">Nosotros</a></li>
                    <li class="nav-item"><a class="nav-link" href="#servicios">Servicios</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contacto">Contacto</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="logregister">
        <a href="login/log.html" class="btn login-btn">Iniciar Sesión</a>
        <a href="login/reg.html" class="btn login-btn">Registrarse</a>
    </div>
</header>